@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    CONNX Pty Ltd<br />
    Brisbane, QLd 4000<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:gcondezo@hotmail.com">gcondezo@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:gcondezo@hotmail.com">gcondezo@hotmail.com</a>
</address>